@charset "utf-8";
@import "../../static/sass/sassCore/base";

.m-reply {
    word-wrap: break-word;
    -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
    .title {
        border-top:1px solid #eeebeb;
        border-bottom:1px solid #eeebeb;
        h2 {
            border-left: 4px solid #c01e2f;
            padding-left: 6px;
            font-size: 16px;
            font-style: normal;
            line-height: 34px;
            height:34px;
            color: #c01e2f;
        }
    }
    table {
        width: 100% !important;
    }

    .reply-list {
        position: relative;
        padding: 10px;
        &:after {
            content: "";
            position: absolute;
            left: 0;
            bottom: 0;
            width: 100%;
            height: 1px;
            overflow: hidden;
            background-image: -webkit-linear-gradient(top,#e8e8e8,#e8e8e8 60%,transparent 60%);
            background-size: 100% 1px;
            background-position: bottom;
            background-repeat: no-repeat;
        }
        &:last-child:after {
            display: none;
        }
        .operations-user {
            @include display-flex;
        }
        .user-avatar {
            position: relative;
            width: 30px;
            height: 30px;
            overflow: hidden;
            margin: 5px 8px 0 0;
            border-top-left-radius: 999px;
            border-top-right-radius: 999px;
            border-bottom-right-radius: 999px;
            border-bottom-left-radius: 999px;
            border-radius: 999px;
            background-clip: padding-box;
            img {
                width: 100%;
                height: 100%;
                border-top-left-radius: 999px;
                border-top-right-radius: 999px;
                border-bottom-right-radius: 999px;
                border-bottom-left-radius: 999px;
                border-radius: 999px;
                background-clip: padding-box;
            }
            .mask {
                position: absolute;
                top: 0;
                left: 0;
                right: 0;
                bottom: 0;
                width: 100%;
                height: 100%;
                z-index: 2;
                border-top-left-radius: 999px;
                border-top-right-radius: 999px;
                border-bottom-right-radius: 999px;
                border-bottom-left-radius: 999px;
                border-radius: 999px;
                background-clip: padding-box;
            }
        }
        .user-info {
            @include flex(1);
        }
        .user-name {

        }
        .user-other {
            font-size: 12px;
            color: #a9a9b2;
        }

        .button-light {
            line-height: 1.5px;
            color: #abaeb2;
        }

    }

    .reply-active {
        background-color: #e5e5e5;
    }

    .reply-hide {
        display: none;
        padding: 10px 0;
        text-align: center;
        font-size: 14px;
        color: #a9a9b2;
    }

    .reply-content{
        padding:7px 0 0 38px;
        font-size: 16px;
        a {
            color: #005eac;
        }
        img {
            max-width: 100%;
        }
    }

    .reply-quote-content {
        position: relative;
        padding: 8px;
        background: #eeebeb;
        color: #a9a9b3;
        margin-bottom:10px;
        .reply-quote-hd {
            font-size: 14px;
            color: #777;
        }
        .reply-quote-bd {
            display: none;
        }

        .button-open-inner {
            text-align: right;
        }
        .button-open {
            position: relative;
            display: inline-block;
            height: 16px;
            line-height: 16px;
            padding: 0 20px 0 5px;
            font-size: 14px;
            color: #434141;
            border: 1px solid #a9a9b2;
            @include border-radius(4px);
            .arrow {
                position: absolute;
                top: 5px;
                right: 5px;
                &:after {
                    content: "";
                    @include arrow(bottom, 6px, #a9a9b2);
                    left: inherit;
                    right: 0;
                    z-index: 1;
                }
                &:before {
                    content: "";
                    @include arrow(bottom, 5px, #eeebeb);
                    left: inherit;
                    right: 1px;
                    z-index: 2;
                }
            }
        }
    }

    .reply-quote-hide,
    .reply-quote-fold,
    .reply-quote-delete {
        padding: 20px 0;
        margin-bottom: 10px;
        text-align: center;
        font-size: 14px;
        background: #eeebeb;
        color: #a9a9b2;
    }

    .button-inner {
        display: none;
        padding: 10px;
        border-top: 1px solid #e8e8e8;
    }
    .button-viewMore {
        display: block;
        height: 40px;
        line-height: 40px;
        text-align: center;
        font-size: 16px;
        border: 1px solid #a9a9b2;
        @include border-radius(4px);
    }
    .not-reply {
        text-align: center;
        color: #a9a9b2;
        font-size: 16px;
        border-top: 1px solid #eeebeb;
        .text {
            display: block;
            margin-top: 50%;
        }
    }
    .has-more-reply {
        padding: 15px 0;
        text-align: center;
        font-size: 16px;
        border-top: 1px solid #e8e8e8;
        color: #a9a9b2;
    }

    .reply-list-hide {
        .reply-hide {
            display: block;
        }
        .operations-user,
        .reply-content {
            display: none;
        }
    }
}


/*
  弹出tip
 */
.reply-tips{
    position:absolute;
    left:50%;
    top:0;
    margin-left:-135px;
    margin-top: -24px;
    height:24px;
    padding:8px 5px;
    line-height:24px;
    background:rgba(46, 46, 46, .9);
    @include display-flex();

    &:after,
    &:before {
        position: absolute;
        left: 135px;
        bottom: -9px;
        z-index: 2;
        content: "";
        width: 0;
        height: 0;
        border-width: 5px;
        border-style: solid dashed dashed solid;
        border-color: #2e2e2e transparent transparent #2e2e2e;
        opacity: .9;
    }
    li{
        @include flex(1);
        width:34px;
        background-position:2px center;
        background-repeat: no-repeat;
        background-size: 45%;
        padding-left:26px;
        font-size:14px;
        color:#fff;
        position: relative;
        border-right: 1px solid #000;
    }
    li:last-child{
        border-right: none!important;
    }
    .active{
        color: #c01e2f !important;
    }
    .reply-ico{
        background-image:url("./img/btn_comment.png");
    }
    .reply-ico.active{
        background-image:url("./img/btn_comment_down.png") !important;
    }
    .copy-ico{
        background-image:url("./img/btn_copy.png");
    }
    .copy-ico.active{
        background-image:url("./img/btn_copy_down.png") !important;
    }
    .report-ico{
        background-image:url("./img/btn_report.png");
    }
    .report-ico.active{
        background-image:url("./img/btn_report_down.png") !important;
    }
    .light-ico{
        background-image:url("./img/btn_light_up.png");
    }
    .light-ico.active{
        background-image:url("./img/btn_light_down.png") !important;
    }
    .rulight-ico{
        background-image:url("./img/btn_rulights.png");
    }
    .rulight-ico.active{
        background-image:url("./img/btn_rulights_dark_active.png") !important;
    }
    .delete-ico {
        background-image:url("./img/btn_delete.png");
    }
    .delete-ico.active{
        background-image:url("./img/btn_delete_down.png") !important;
    }
    .banned-ico {
        background-image:url("./img/btn_banned.png");
    }
    .banned-ico.active{
        background-image:url("./img/btn_banned_down.png") !important;
    }
}
.reply-tips-hide .reply-ico{display: none}


body.night {
    .m-reply {
        .title {
            border-top-color: #1f1f1f;
            border-bottom-color: #1f1f1f;
            h2 {
                border-left-color: #99222c;
                color: #99222c;
            }
        }
        .reply-list {
            &:after {
                background-image: -webkit-linear-gradient(top,#1f1f1f,#1f1f1f 60%,transparent 60%);
            }
            .mod-mask {
                background-color: rgba(0, 0, 0, 0.3);
            }
            .user-info {
                a {
                    color: #5a5a5f;
                }
            }
            .user-other {
                color: #5a5a5f;
            }
            .button-light {
                color: #5a5a5f;
            }
            .reply-content{
                a {
                    color: #3c678c;
                    font {
                        color: #3c678c !important;
                    }
                }
            }
            .reply-quote-content {
                background: #1f1f1f;
                color: #5a5a5f;
                .reply-quote-hd {
                    color: #777;
                }
                .button-open {
                    color: #959595;
                    border-color: #5a5a5f;
                    .arrow {
                        &:after {
                            border-top-color: #959595;
                        }
                        &:before {
                            border-top-color: #1f1f1f;
                        }
                    }
                }
            }

            .reply-quote-hide,
            .reply-quote-fold,
            .reply-quote-delete {
                background: #1f1f1f;
                color: #5a5a5f;
            }

            .current-content {
                color: #959595;
            }
        }

        .jump-reply {
            .reply-list {
                .user-info {
                    a {
                        color: #434141;
                    }
                }
                .user-other {
                    color: #434141;
                }
                .button-light {
                    color: #434141;
                }
                .reply-quote-content,
                .reply-quote-hide,
                .reply-quote-fold,
                .reply-quote-delete {
                    background: #757561;
                    color: #434141;
                }
                .current-content {
                    color: #434141;
                }
            }
        }

        .not-reply {
            border-top-color: #1f1f1f;
        }

        .target-active {
            background-color: #252525;
        }

        .reply-quote-hide,
        .reply-quote-fold {
            background: #1f1f1f;
            color: #5a5a5f;
        }
        .reply-hide {
            color: #5a5a5f;
        }
        .button-inner {
            border-top-color: #1f1f1f;
        }
        .button-viewMore {
            border-color: #5a5a5f;
            color: #959595;
        }
        .has-more-reply {
            border-top-color: #1f1f1f;
            color: #5a5a5f;
        }
    }
    .reply-active {
        background-color: #1f1f1f;
    }
    .reply-tips {
        background: rgba(0, 0, 0, .8);

        &:after,
        &:before {
            border-color: rgba(0, 0, 0, .8) transparent transparent rgba(0, 0, 0, .8);
        }

        li {
            color: #959595;
        }

        .reply-ico{
            background-image:url("./img/btn_comment_dark.png");
        }
        .copy-ico{
            background-image:url("./img/btn_copy_dark.png");
        }
        .report-ico{
            background-image:url("./img/btn_report_dark.png");
        }
        .light-ico{
            background-image:url("./img/btn_light_up_dark.png");
            border-right: none;
        }
        .rulight-ico{
            background-image:url("./img/btn_rulights_dark.png");
            border-right: none;
        }
        .delete-ico {
            background-image:url("./img/btn_delete_dark.png");
        }
        .banned-ico {
            background-image:url("./img/btn_banned_dark.png");
        }
    }
}
