@charset "utf-8";

@import "../sass/sassCore/base";
img { pointer-events: none; }
body {
	min-height: 100%;
	max-width: 710px;
	margin-left: auto;
	margin-right: auto;
	background-image: url("./img/bg9.png");
	background-color: #fff;
	-webkit-user-select: none;
	-webkit-tap-highlight-color: transparent;
}

img {
	max-width: 100%;
}

.clearfix:after {
	content: "";
	display: block;
	clear: both;
}

.mod-content {
	width: 96%;
	margin-left: auto;
	margin-right: auto;
	border-radius: 6px;

}

.fl { float: left;}
.fr { float: right;}

.xmas-wrap {
	.guess-status {
		position: absolute;
		right: 0;
		top: 5px;
		width: 50px;
		height: 46px;
		background-size: 100%;
		background-repeat: no-repeat;
	}

	.guess-error {
		background-image: url("./img/guess-error.png");
	}

	.guess-right {
		background-image: url("./img/guess-right.png");
	}

	.banner {
		width: 100%;
		height: auto;
		margin-bottom: 40px;
	}

	.guess {
		position: relative;
		padding-bottom: 10px;
		margin-bottom: 10px;
		background-color: #d22b3f;
		
		.bg-snow {
			position: absolute;
			top: -75px;
			left: 0;
			width: 100%;
		}
		
		.bg-snow-result {
			top: -72px;
			width: 100%;
		}

		.bg-top {
			position: absolute;
			top: -40px;
			left: 0;
		}

		.bg-top-result {
			top: -36px;
		}

		.sub-title {
			padding-top: 6%;
			line-height: 30px;
			text-align: center;
			font-size: 12px;
			color: #f7cb3d;
		}

		.guess-list-wrap {
			position: relative;
		}

		.guess-list {
			position: relative;
			height: 402px;

			li {
				@include display-flex();
				@include align-items(center);
				box-sizing: border-box;
				position: absolute;
				width: 90%;
				margin-left: 5%;
				margin-right: 5%;
				padding-left: 20px;
				height: 64px;
				background-color: #9b182a;
				border-radius: 32px;
				-webkit-transition: .5s;
				transition: .5s;
			}

			.item1 {
				top: 0;
			}

			.item2 {
				top: 68px;
			}

			.item3 {
				top: 136px;
			}
			
			.item4 {
				top: 204px;
			}

			.item5 {
				top: 272px;
			}

			.item6 {
				top: 340px;
			}

			.detail {
				font-size: 12px;
				color: #d1a8ab;
			}

			.num {
				position: relative;
				width: 35px;
				height: 42px;
				margin-right: 15px;
				font-size: 18px;
				color: #fff;
				background-image: url("./img/icon8.png");
				background-size: 100%;
				background-repeat: no-repeat;
				
				span {
					position: absolute;
					left: 13px;
					top: 5px;
				}
			}

			.head {
				margin-right: 15px;
			}

			.name {
				font-size: 16px;
				color: #fff;
			}
		}

		.change-list {
			position: absolute;
			width: 34px;
			height: 402px;
			top: 0;
			right: 5%;

			li {
				position: absolute;
				width: 34px;
				height: 34px;
				background-image: url("./img/icon6.png");
				background-size: 100%;
				background-repeat: no-repeat;
				z-index: 2;
			}

			.item1 {
				top: 51px;
			}

			.item2 {
				top: 119px;
			}
			
			.item3 {
				top: 187px;
			}

			.item4 {
				top: 255px;
			}

			.item5 {
				top: 323px;
			}

			.click {
				background-image: url("./img/icon6_click.png");
			}
		}

		.button {
			position: relative;
			top: -4px;
			width: 300px;
			height: 70px;
			margin-left: auto;
			margin-right: auto;
			background-size: 100%;
			background-repeat: no-repeat;
		}

		.submit {
			background-image: url("./img/btn1.png");
		}

		.submit-click {
			background-image: url("./img/btn1_click.png");
		}

		.share-btn {
			background-image: url("./img/btn2.png");
		}

		.share-btn-click {
			background-image: url("./img/btn2_click.png");
		}


		.result-inner {
			padding-left: 5%;
			padding-right: 5%;
		}

		.header {
			padding-top: 40px;
			color: #f7cb3d;
			h1 {
				margin-bottom: 10px;
				text-align: center;
				font-size: 18px;
				font-weight: bold;
			}

			p {
				width: 80%;
				margin-left: auto;
				margin-right: auto;
				margin-bottom: 15px;
				font-size: 12px;
			}
		}

		.download {
			display: block;
			width: 90px;
			margin-left: auto;
			margin-right: auto;
			line-height: 30px;
			text-align: center;
			color: #fff;
			background-color: #9b182a;
			border-radius: 25px;
		}

		.title {
			@include display-flex();
			@include justify-content(center);
			@include align-items(center);
			text-align: center;
			padding-top: 40px;
			margin-bottom: 10px;
			font-size: 14px;
			color: #f7cb3d;
		}

		.line {
			width: 25px;
			height: 1px;
			border-top: 1px solid #f7cb3d;
		}
		
		.text {
			margin-left: 18px;
			margin-right: 18px;
		}
		
		.result {
			@include display-flex();
			@include align-items(center);
			position: relative;
			height: 54px;
			color: #fff;

			.head {
				width: 40px;
				height: 40px;
				margin-right: 12px;
				border-radius: 21px;
				overflow: hidden;

				img {
					width: 40px;
					height: 40px;
					border-radius: 21px;
				}
			}

			.date {
				margin-left: 4px;
				font-size: 12px;
				color: #e9abb0;
			}
		}

		.over-inner .result {
			color: #fff;

			.date {
				color: #e9abb0;
			}
		}

		.over-inner .title {
			padding-top: 20px;
		}

		.notice {
			margin-bottom: 50px;
			font-size: 12px;
			color: #e9abb0;
		}

		.tips {
			margin-bottom: 20px;
			color: #f7cb3d;
		}

		.qq-query {
			width: 70%;
			margin: 20px auto 10px;

			input {
				box-sizing: border-box;
				width: 100%;
				padding: 10px;
				margin-bottom: 6px;
				border: 1px solid #e7e7e7;
				background-color: #f0f0f0;
				border-radius: 2px;
			}

			.query-btn {
				box-sizing: border-box;
				width: 100%;
				line-height: 42px;
				margin-top: 6px;
				margin-bottom: 15px;
				text-align: center;
				font-size: 16px;
				color: #fff;
				border: 1px solid #aa1608;
				background-color: #9b182a;
				border-radius: 2px; 
			}

			.error {
				font-size: 12px;
				color: #f7cb3d;
			}
		}
	}

	.friends-guess {
		position: relative;
		padding-bottom: 10px;
		padding-top: 10px;
		margin-bottom: 10px;
		color: #fff;
		background-color: #1d8f45;
		
		.bg-top {
			position: absolute;
			left: -3px;
			top: -3px;
			width: 45px;
			height: 45px;
			background-image: url("./img/icon7.png");
			background-size: 100%;
			background-repeat: no-repeat;
		}

		dl {
			padding-left: 15px;
			padding-right: 15px;
		}
		
		dt .mod-header {
			@include display-flex();
			@include justify-content(center);
			@include align-items(center);
			text-align: center;
			height: 45px;
		}

		.qq-img {
			margin-bottom: 10px;
			text-align: center;
		}

		dd {
			@include display-flex();
			@include align-items(center);
			position: relative;
			width: 100%;
			height: 54px;
			border-bottom: 1px solid #4aa56a;
		}

		.icon {
			position: relative;
			top: 4px;
			width: 26px;
			height: 23px;
			background-image: url("./img/icon4.png");
			background-size: 100%;
			background-repeat: no-repeat;
		}

		.left {
			margin-right: 10px;
		}

		.right {
			margin-left: 10px;
			-webkit-transform: rotate(180deg);
			transform: rotate(180deg);
		}

		.tips {
			font-size: 12px;
			color: #f7cb3d;
		}

		.head {
			width: 40px;
			height: 40px;
			margin-right: 12px;
			border-radius: 21px;
			overflow: hidden;

			img {
				width: 40px;
				height: 40px;
				border-radius: 21px;
			}
		}

		.date {
			margin-left: 4px;
			font-size: 12px;
			color: #87ba96;
		}
	
		.more {
			line-height: 35px;
			text-align: center;
			color: #f7cb3d;
		}

		.nofriendsres {
			margin-top: 10px;
			text-align: center;
			font-size: 12px;
			color: #eee;
		}
	}

	.price-show {
		.hd {
			margin-bottom: 6px;
		}

		.bd {		
			ul {
				@include display-flex();
				@include justify-content(center);
				@include align-items(center);
				margin-bottom: 10px;
			}

			li {
				@include flex(1);
				box-sizing: border-box;
			}

			.mr {
				margin-right: 5px;
			}

			.ml {
				margin-left: 5px;
			}
		}
		
	}

	.share-rank {
		position: relative;
		margin-bottom: 10px;
		padding-bottom: 20px;
		background: #d22b3f url(./img/adidas_bg.png) center no-repeat;
		background-size: 240px 160px;

		.bg-top {
			position: absolute;
			left: 0;
			top: -60px;
		}

		.title {
			@include display-flex();
			@include justify-content(center);
			@include align-items(center);
			text-align: center;
			padding-top: 4%;
			padding-left: 18px;
			padding-right: 18px;
			margin-bottom: 10px;
			font-size: 12px;
			color: #f7cb3d;

			p {
				margin-left: 10px;
				margin-right: 10px;
			}

			.text {
				width: 160px;
			}
		}

		.title2 {
			padding-top: 0;
			.text {
				width: 180px;
			}
		}

		.line {
			@include flex(1);
			width: auto;
			height: 1px;
			border-top: 1px solid #f7cb3d;
		}

		.gift-wall {
			position: relative;
			width: 260px;
			height: 65px;
			margin-bottom: 8px;
			margin-left: auto;
			margin-right: auto;
			background-color: #9b182a;
			border-radius: 6px;

			.icon {
				position: absolute;
				left: -8px;
				top: -5px;
				width: 38px;
				height: 38px;
				background-image: url("./img/icon5.png");
				background-size: 100%;
				background-repeat: no-repeat;
			}
		}

		.mod-list {
			padding-left: 6%;

			li {
				@include display-flex();
				@include align-items(center);
				line-height: 30px;
				margin-bottom: 10px;
				
				.head-wrap {
					position: relative;
				}

				.head {
					width: 30px;
					height: 30px;
					margin-right: 12px;
					border-radius: 16px;
					overflow: hidden;

					img {
						width: 30px;
						height: 30px;
						border-radius: 16px;
					}
				}

				.name {
					margin-right: 12px;
					color: #fff;
				}

				.share {
					color: #fff;

					.num {
						color: #f7cb3d;
					}
				}
			}

			.rank1 {
				.medal {
					background-image: url("./img/icon1.png");
				}
			}

			.rank2 {
				.medal {
					background-image: url("./img/icon2.png");
				}
			}

			.rank3 {
				.medal {
					background-image: url("./img/icon3.png");
				}
			}
		}

		.top-list {
			.medal {
				position: absolute;
				left: 16px;
				top: 18px;
				width: 16px;
				height: 20px;
				background-size: 100%;
				background-repeat: no-repeat;
				z-index: 2;
			}
		}

		.bottom-list {
			.icon {
				position: absolute;
				left: 16px;
				top: 18px;
				width: 14px;
				line-height: 14px;
				text-align: center;
				font-size: 10px;
				color: #fff;
				background-color: #9b182a;
				border-radius: 8px;
				z-index: 2;
			}
		}
	}

	.rules {
		position: relative;
		margin-bottom: 10px;
		color: #fff;
		background-color: #1d8f45;
		
		.inner {
			position: relative;
			padding: 15px 15px 40px;
			z-index: 2;
		}

		.title {
			@include display-flex();
			@include justify-content(center);
			@include align-items(center);
			text-align: center;
			font-size: 16px;
			font-weight: bold;
		}

		.icon {
			width: 18px;
			height: 15px;
			background-image: url("./img/icon9.png");
			background-size: 100%;
			background-repeat: no-repeat;
		}

		.left {
			margin-right: 10px;
		}

		.right {
			margin-left: 10px;
			-webkit-transform: rotateY(180deg);
			transform: rotateY(180deg);
		}

		.content span {
			color: #f7cb3d;
		}

		.bg-bottom {
			position: absolute;
			left: 0;
			bottom: 0;
			width: 100%;
			height: 55px;
			background-image: url("./img/bg5.png");
			background-size: cover;
			background-repeat: no-repeat;
			border-radius: 0 0 8px 8px;
		}
	}

	.fangpb {
		a {
			display: block;
		}
	}
}

.mod-show-mask { 
	position: absolute; 
	left: 0; 
	top: 0; 
	width: 100%; 
	height: 100%; 
	background-color: rgba(0,0,0,.6);
	z-index: 999;
}
.mod-showBox { 
	position: fixed; 
	width: 86%;
	font-size: 12px;
	background-color: #fff;
	border-radius: 6px; 
	z-index: 1000;

	.hd {
		line-height: 40px;
		text-align: center;
		font-size: 18px;
		color: #fff;
		background-color: #cb2718;
		border-radius: 6px 6px 0 0;
	}

	.bd {
		padding-left: 20px;
		padding-right: 20px;
	}

	.tips {
		margin-top: 12px;
		margin-bottom: 12px;
		color: #101010;
	}
	
	input {
		box-sizing: border-box;
		padding: 10px;
		border: 1px solid #e7e7e7;
		background-color: #f0f0f0;
		border-radius: 2px;
	}

	.qq {
		width: 100%;
		margin-bottom: 8px;
	}

	.code {
		width: 50%;
	}

	.code-img {
		position: relative;
		top: -4px;
	}

	.change-link {
		margin-left: 4px;
		text-decoration: underline;
		color: #0090ff;
	}

	.btn {
		box-sizing: border-box;
		width: 100%;
		line-height: 42px;
		margin-top: 15px;
		margin-bottom: 15px;
		text-align: center;
		font-size: 16px;
		color: #fff;
		border: 1px solid #aa1608;
		background-color: #cb2718;
		border-radius: 2px;
	}

	.error {
		margin-top: 10px;
		font-size: 12px;
		color: #cb2718;
	}

	.close-icon {
		position: absolute;
		top: 7px;
		right: 7px;
		width: 24px;
		height: 24px;
		background-image: url("./img/close.png");
		background-size: 100%;
		background-repeat: no-repeat;
	}
}

.remind-showBox {
	position: absolute;
	right: 10%;
	width: 200px;
	height: 200px;
	background-image: url("./img/bg8.png");
	background-size: 100%;
	background-repeat: no-repeat;
	z-index: 1000;
}


.xmas-result {
	.guess {
		position: relative;
		padding-bottom: 10px;
		margin-top: 50px;
		margin-bottom: 40px;
		background-color: #d22b3f;
		
		.bg-snow {
			position: absolute;
			top: -55px;
			left: 0;
		}

		.bg-top {
			position: absolute;
			top: -30px;
			left: 0;
		}

		.button {
			position: relative;
			top: -8px;
			width: 300px;
			height: 70px;
			margin-left: auto;
			margin-right: auto;
			background-size: 100%;
			background-repeat: no-repeat;
		}

		.share-btn {
			background-image: url("./img/btn2.png");
		}

		.share-btn-click {
			background-image: url("./img/btn2_click.png");
		}

		.header {
			@include display-flex();
			@include justify-content(center);
			padding-top: 50px;
			.unjoin-inner {
				width: 200px;
				height: 60px;
				background-image: url("./img/title1.png");
				background-size: 100%;
				background-repeat: no-repeat;
			}

			.join-inner {
				position: relative;
			}

			.text {
				position: relative;
				font-size: 18px;
				font-weight: bold;
				color: #f7cb3d;
				z-index: 2;
			}

			.icon {
				position: absolute;
				left: -28px;
				top: -30px;
				width: 72px;
				height: 67px;
				background-image: url("./img/joined.png");
				background-size: 100%;
				background-repeat: no-repeat;
				z-index: 1;
			}
		}

		.title {
			@include display-flex();
			@include justify-content(center);
			@include align-items(center);
			text-align: center;
			padding-top: 20px;
			margin-bottom: 10px;
			font-size: 14px;
			color: #f7cb3d;
		}

		.line {
			width: 25px;
			height: 1px;
			border-top: 1px solid #f7cb3d;
		}
		
		.text {
			margin-left: 18px;
			margin-right: 18px;
		}

		.result-inner {
			padding-left: 5%;
			padding-right: 5%;
		}
		
		.result {
			@include display-flex();
			@include align-items(center);
			position: relative;
			height: 54px;
			color: #fff;

			.head {
				width: 40px;
				height: 40px;
				margin-right: 12px;
				border-radius: 21px;
				overflow: hidden;

				img {
					width: 40px;
					height: 40px;
					border-radius: 21px;
				}
			}
		}

		.expiry {
			margin-top: 10px;
			margin-bottom: 10px;
			color: #fff;

			.fr {
				color: #e9abb0;
			}
		}

		.notice {
			margin-bottom: 150px;
			font-size: 12px;
			color: #e9abb0;
		}

		.tips {
			margin-bottom: 25px;
			font-size: 14px;
			color: #f7cb3d;
		}

		.bg-bottom {
			position: absolute;
			left: 0;
			bottom: -40px;
			width: 100%;
			height: 40px;
			background-image: url("./img/bg2.png");
			background-size: 100%;
			background-repeat: no-repeat;
		}
	}
}

:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
    color: #9c9c9c;  
}

::-moz-placeholder { /* Mozilla Firefox 19+ */
    color: #9c9c9c;
}

input:-ms-input-placeholder,
textarea:-ms-input-placeholder {
    color: #9c9c9c;
}

input::-webkit-input-placeholder,
textarea::-webkit-input-placeholder {
    color: #9c9c9c;
}

@media (max-width: 320px){
	.xmas-wrap {
		.guess {
			.button {
				width: 240px;
				height: 56px;
			}

			.result-inner {
				.name {
					font-size: 12px;
				}

				.data {
					font-size: 12px;
				}
			}
		}

	    .friends-guess {
	    	.result {
	    		font-size: 12px;
	    	}
	    }

	    .share-rank {
	    	li {
	    		font-size: 12px;
	    	}
	    }

	    .rules {
	    	.title {
	    		font-size: 14px;
	    	}
	    	font-size: 12px;
	    }
	}

	.xmas-result {
		.guess {
			.header {
				padding-top: 30px;

				.icon {
					position: absolute;
					left: -16px;
					top: -18px;
					width: 60px;
					height: 56px;
					background-size: 100%;
					background-repeat: no-repeat;
				}
			}

			.notice {
				margin-bottom: 50px;
			}

			.button {
				width: 240px;
				height: 56px;
			}

			.result-inner {
				.name {
					font-size: 12px;
				}

				.data {
					font-size: 12px;
				}
			}

			.tips {
				font-size: 12px;
			}
		}
	}
}

@media (min-width: 375px){
	.xmas-wrap {
	    .share-rank {
	    	.title2 {
	    		padding-top: 0;
	    	}
	    }
	}
}
