@charset "utf-8";
@import "../../static/sass/sassCore/base";

.nba-header { background: url(./nba_bg.jpg) center no-repeat;}
.soccer-header { background: url(./soccer_bg.jpg) center no-repeat;}

.w-player-header {
    @include display-flex();
    @include justify-content(flex-start);
    @include align-items(center);
    height: 93px;
    padding-left: 20px;
    color: #fff;
    background-size: cover;

    .head {
        width: 57px;
        height: 71px;
        margin-right: 16px;
        border: 1px solid #fff;
        border-radius: 2px;
        overflow: hidden;
    }

    .name, .en-name {
        font-weight: bold;
    }

    .player-info {
        margin-top: 4px;
        font-size: 12px;

        span {
            margin-right: 6px;
        }
    }

    .name {
        @include display-flex();
        @include justify-content(flex-start);
        @include align-items(center);

        span {
            display: block;
        }
    }

    .country {
        position: relative;
        top: -1px;
        display: inline-block;
        width: 21px;
        height: 13px;
        margin-left: 8px;

        img { border: 1px solid #ccc; vertical-align: top;}
    }
}