
.ui-page-tools{
	position: fixed;
	bottom:50px;
	right:13px;
	display:none;
	z-index:99;
}
.ui-today-link,.ui-refresh,.ui-reply,.ui-backtop,.ui-post{
	opacity:0.9;
	color: #fff;
	background-color: #d8544c;
	-webkit-border-radius: 50%;
    border-radius: 50%;
    width: 34px;
	height: 34px;
	margin-top: 15px;
	overflow: hidden;
	font-weight: bold;
}
.ui-today-link,.ui-refresh{
	text-align: center;
	display: none;
	font-size: 12px;
	line-height: 34px;
	right: 16px;
}
.ui-reply{
	display: inline-block;
    font-size: 12px;
    line-height: 36px;
    text-align: center;
    vertical-align: top;
}
.ui-post{
	display: inline-block;
    font-size: 12px;
    line-height: 36px;
    text-align: center;
    vertical-align: top;
}
.ui-post:hover{
	color: #fff;
}
.ui-refresh{
	background:#d8544c url(./refresh.png) center center no-repeat;
	background-size: 26px 24px;
}
.ui-backtop{
	display:none;
}
.ui-backtop em{
	border-left:2px solid #fff;
	border-bottom:2px solid #fff;
	display:inline-block;
	margin:14px 0 0 11px;
	width:12px;
	height:12px;
	-webkit-transform:rotate(135deg);
	transform:rotate(135deg);
}