@charset "utf-8";

@import "../sass/sassCore/base";

body {
    background: #f9f9f9;
}

.match-soccer-event {
    padding: 25px 0;
    .list {
        text-align: center;
        background: url(event-bg.png) repeat-y top center;
        background-size: 2px 6px;
        li {
            margin-top: .22rem;
            &:first-child {
                margin-top: 0;
                .icon-whistle {
                    margin-top: -.1rem;
                }
            }
        }
        .col-flex {
            position: relative;
        }
        .col-list {
            display: inline-block;
            width: 48%;
            text-align: left;
            padding-left: .25rem;
        }
        .col-left {
            text-align: right;
            padding-left: 0;
            padding-right: .25rem;
        }
        .col-center {
            position: absolute;
            top: 0;
            left: 50%;
            margin-left: -.12rem;
        }
        .icon-whistle {
            display: inline-block;
            width: .16rem;
        }
        .team-name {
            display: inline-block;
            margin-top: .02rem;
            font-size: .18rem;
            line-height: 1.2;
            .gray {
                color: #999;
            }
        }
        // 足球
        .icon-ball {
            position: relative;
            display: inline-block;
            width: .17rem;
            vertical-align: baseline;
            img {
                width: 100%;
                vertical-align: top;
            }
        }
        .icon-thepenalty {
            &:after {
                position: absolute;
                left: 50%;
                bottom: -.08rem;
                content: "";
                width: .05rem;
                height: .05rem;
                margin-left: -.03rem;
                overflow: hidden;
                background: #444;
                @include border-radius(50%);
            }
        }
        // 转人
        .icon-substitution {
            display: inline-block;
            width: .19rem;
            vertical-align: top;
            margin-top: .08rem;
            img {
                width: 100%;
            }
        }
        .col-substitution {
            .surplus-time,
            .score {
                margin-top: .07rem;
            }
        }

        // 红牌
        .icon-red-card,
        .icon-yellow-card {
            display: inline-block;
            width: .15rem;
            height: .14rem;
            overflow: hidden;
            background: url(icon-red-card.png) no-repeat top left;
            background-size: 100% 100%;
            vertical-align: baseline;
        }
        .icon-yellow-card {
            background-image: url(icon-yellow-card.png);
        }
        .surplus-time {
            display: inline-block;
            min-width: .24rem;
            min-height: .24rem;
            line-height: .24rem;
            background: #f4f4f4;
            @include border-radius(50%);
            color: #999;
        }

        .overtime {
            display: inline-block;
            height: .24rem;
            line-height: .24rem;
            padding: 0 .12rem;
            background: $white;
            @include border-radius(.05rem);
        }
        // 比分
        .score {
            position: relative;
            display: inline-block;
            height: .26rem;
            line-height: .26rem;
            padding: 0 .1rem;
            margin-left: .06rem;
            font-size: .18rem;
            background: #f2f3f3;
            @include border-radius(.08rem);
            &:after {
                position: absolute;
                content: "";
            }
        }
        .col-left {
            .score {
                &:after {
                    @include arrow(right, 6px, #f2f3f3);
                    left: inherit;
                    top: .08rem;
                    right: -6px;
                }
            }
        }
        .col-right {
            .score {
                &:after {
                    @include arrow(left, 6px, #f2f3f3);
                    top: .08rem;
                    left: -6px;
                }
            }
        }
    }
}