body{
    background-color:#f3f3f3;
}
.table {
    width: 100%;
    line-height: 40px;
    white-space: nowrap;
    text-align: center;
    background-color:#fff;
    th,
    td {
        padding: 0 8px;
        color: #444;
        border-bottom: 1px solid #eee;
    }
    th {
        text-align: center;
        font-weight: 400;
        border-top: none;
    }
    .number-1 {
        width: 15%;
    }
}
.table-member{
    margin-top:10px;
}