@charset "utf-8";
@import "../../static/sass/sassCore/base";

.artical-title {
    padding: 10px;
    .headline {
        padding-bottom: 5px;
        font-size: 20px;
        line-height: 1.2;
        font-weight: 700;
        color: #434141;
    }
    .artical-info {
        color: #a9a9b2;
        span {
            margin-right: 5px;
        }
    }
    .new-source {
        color: #025fad;
        -webkit-tap-highlight-color: rgba(30,136,226,.2);
    }
}

body.night {
    .artical-title {
        .headline {
            color: #959595;
        }
        .artical-info {
            color: #5a5a5f;
        }
        .new-source {
            color:#3c678c;
        }
    }
}
